h1 {
	font-size: 100px;
	text-align: center;
}

/*adding a background color lets me see what the background board is doing during movement*/
table tr td {
	width: 50px;
	height: 50px;
	background-color: beige;
}

#red {
	border: solid 21px #ff0000;
 	width: 25px;
 	height: 25px;
 	position: relative;
    left: 30px;
}

#blue {
	border: solid 21px #0000ff;
 	width: 25px;
 	height: 25px;
 	position: relative;
    left: 30px;

}

.finishLine {
	background-color: black;
	width: 5px;
	height: 75px;
	right: 50px;
	position: absolute;
}